/****** Custom Classes ******/
.class1 {
	color: rgb(33, 96, 177);
}
.class2 {
	color: rgb(23, 66, 122);
}
.error{
	color: red;
	margin-top: 10px;
}
#list {
	margin-top: 15px;
}
.hoverptr:hover{
   cursor: pointer;
   background: #f3f3f3;
 }
.left{
	margin-left: 20px;
}
.mb-left{
	margin-left: 10px;
}

.custom-tb{
  left: 348px;
  top: 200px;
  position: absolute;
}

.m-b-lg{
	margin-bottom: 40px;
}
