/****** Custom Classes ******/
.class1 {
	color: rgb(33, 96, 177);
}
.class2 {
	color: rgb(23, 66, 122);
}
.error{
	color: red;
	margin-top: 10px;
}
#list {
	margin-top: 15px;
}
.hoverptr:hover{
   cursor: pointer;
   background: #f3f3f3;
 }
.left{
	margin-left: 20px;
}
.mb-left{
	margin-left: 10px;
}

.custom-tb{
  left: 348px;
  top: 200px;
  position: absolute;
}

.m-b-lg{
	margin-bottom: 40px;
}
.custom-well{
	min-height: 20px;
	height: 200px;
	overflow: scroll;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

}
