<div class="navbar navbar-default navbar-main-menu" ><!-- main nav -->
  <div growl></div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/img/jc-logo-rgb.svg" style="height: 1.5em; margin-top: -.25em; margin-bottom: -.25em;">
    </a>
  </div>
 <!--  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">   
        <li ng-class="{'active': isActive('attributeSection') || isActive('/')}"><a href="#/">Attribute Section</a></li>
    </ul>
  </div>-->
</div><!-- /main nav -->