<div class="row left">
    <div class="col-sm-5" style="margin-left: -11px;">
        <p> <font size="+2"></font> &nbsp; <select ng-init="row.condition = 'all'" ng-model="row.condition" required>
            <option value="all">All</option>
            <option value="any">Any</option>
        </select> of the conditions are true</p>
    </div>
    <div class="col-sm-2">
        <a class="hoverptr" ng-click="addExpression(data)">Add Expression</a>
    </div>
    <div class="col-sm-2">
        <a class="hoverptr" ng-click="addSubExpression(data)">Add Sub-Expression</a>
    </div>
    <div class="col-sm-2">
        <a class="hoverptr" ng-click="deleteSubExpression(data)">Remove Sub-Expression</a>
    </div>
</div>
