<div class="row" data-ng-controller="ruleCtrl">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3>Rule Engine</h3>
            </div>
            <!-- /.navbar-header -->

           <!--  <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">      
                    </a>
                </li>
               
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       
                    </ul>
                   
                </li>
              
            </ul> -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">    
                        <li>  	
                            <a ng-click="rule_editor_page()">Rule Editor</a>
                        </li>
                        <li>
                            <a ng-click="expression_editor_page()">Expression Editor</a>
                        </li>
                        <li>
                            <a ng-click="action_editor_page()">Action Editor</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div ng-show="changeView.expressionEditPage">
                <h1>Expression Editor</h1>
                <form class="form-horizontal" name="conditionForm" novalidate>
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-1">
                            <select class="form-control" ng-model="condition.key" ng-options = "s.field as s.field for s in staticValues">
                                <option value="">choose one</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" ng-model="condition.operator">
                                <option value="">choose one</option>
                                <option value="equal">equal</option>
                                <option value="not_equal">not equal</option>
                                <option value="in_array">in</option>
                                <option value="not_in_array">not in</option>
                                <option value="less_than">less</option>
                                <option value="less_than_or_equal">less or equal</option>
                                <option value="greater_than">greater</option>
                                <option value="greater_than_or_equal">greater or equal</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="condition.value">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary" ng-click="submit(condition)">save</button>
                        </div>
                    </div>
                </form>                
            </div>
        	<!-- <h1 ng-show="changeView.ruleEditPage">Rule Editor</h1>
            <div ng-show="changeView.expressionEditPage">
			     <h1>Expression Editor</h1>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> All    
                    </a>
                </li>
            </div>
			<h1 ng-show="changeView.actionEditPage">Action Editor</h1>  -->             
        </div>
	       
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</div>